.img-thumbnail {
  width: 100%;
  height: 100px;
  object-fit: none;
  object-fit: cover;
}

.info-collapse {
  background-color: gray;
  color: #333;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
}

.info-collapse:hover {
  background-color: rgb(80, 80, 79);
}