.img-thumbnail {
  width: 100%;
  height: 100px;
  object-fit: none;
  object-fit: cover;
}

.info-collapse {
  background-color: white;
  color: black;
  cursor: pointer;
  width: 100%;
  text-align: center;
  outline: none;
  font-size: 18px;
  padding-top: 1%;
  padding-bottom: 1%;
}

.info-collapse:hover {
  background-color: yellow;
}

.composite-collapse {
  display: flex;
  flex-direction: column;
  margin: 10px;
  box-shadow: 20px 20px;
}

.info-collapse-content {
  background-color: white;
  padding: 2%;
}