@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

body {
  background-color: orange;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: orange;
  color: black;
}

li a {
  display: inline-block;
  color: black;
  text-align: left;
  padding: 10px 10px;
}

li a:hover {
  background-color: yellow;
}

.body-text {
  margin-right: 150px;
  font-size: 18px;
}

a,
h1,
h2,
p,
li,
div,
h3 {
  font-family: 'Helvetica Neue', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 18px;
}

a {
  text-decoration: none;
}

.typing {
  position: absolute;
  left: 8vw;
  top: 30vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: inline-block;
  color: black;
}

.type-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation:
    typing 3s steps(30, end) forwards,
    fadeBg .2s ease-in forwards 3s,
    blink .5s step-end infinite;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
  border-right: 4px solid orange;
  box-sizing: border-box;
  color: black;
  font-family: "Helvetica Neue", sans-serif;
}

@keyframes typing {
  from {
    width: 0%
  }

  to {
    width: 100%
  }
}

@keyframes fadeBg {
  from {
    background-color: transparent;
  }

  to {
    background-color: white;
  }
}

@keyframes blink {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: black;
  }
}

button {
  background-color: white;
  font-family: Tahoma, sans-serif;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border-color: rgb(0, 0, 0);
  min-height: 2vh;
  border-color: rgb(0, 0, 0);
}

.column4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.container {
  background-color: #ffffff;
}

.column3 {
  width: 33%;
  float: right;
}

.column2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.icon {
  max-width: 128px;
  max-height: 128px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.gallery-pic {
  max-width: 800px;
  max-height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: flex;
  border-radius: 10px;
}

sub {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

th,
td {
  border: 1px white;
}

sub {
  color: white;
}

a {
  color: orange;
}

label {
  font-family: 'Helvetica Neue', sans-serif;
  color: rgb(0, 0, 0);
}

.comment-section {
  width: 100%;
  height: 500px;
  overflow: scroll;
}

.comment-container {
  background-color: #165a63;
  width: 90%;
  display: inline;
  float: left;
  height: auto;
  border-radius: 10px;
}

.header {
  top: -100%;
  left: 100%;
}

.scroll-button {
  display: flex;
  position: fixed;
  bottom: 5%;
  right: 5%;
}

input {
  background-color: transparent;
  font-family: Tahoma, sans-serif;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border-color: white;
  min-height: 2vh;
  border-color: black;
}

.container {
  border-width: 2px;
  background-color: white;
  padding: 2%;
  margin: 2%;
}

.slight-margin {
  margin: 2%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  z-index: 999;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  margin: 1%;
}

button:hover {
  background-color: yellow;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}