<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
<title>Contact</title>

<body>
    <ul>
        <li><a href="index.html">Home</a></li>
    </ul>
    <div class="parallax4"></div>
    <h1 style="text-align:center;"><u>Contact us</u></h1>
    <p style="text-align:center;">
        Email:
        <br>
        <a href="mailto:admin@generictravelcompany.com">admin@generictravelcompany.com</a>
        <br>
        Phone:
        <br>
        +36 382 192 3821
        <br>
        Fax:
        <br>
        +281 28 13 23 192
        <br>
        Address:
        <br>
        Blue Lake Street No. 54, Greenwich, United Kingdom
        <br>
        Comment:
    </p>
    <form onSubmit="sendFeedback(event)">
        <input type="text" id="feedbackfield" placeholder="Want to share something with us? Write it here!" />
        <br>
        <button type="submit" class="button1 centerobject">Send</button>
    </form>
    <br>
    <br>
    <script src="script.js"></script>

</body>

</html>