<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
<html>


<title>Trips.</title>
<header>
  <hr>
  <ul>
    <li>Welcome! Currently, the time is</li>
    <li>
      <div id="time"></div>
    </li>
  </ul>
  <hr>
  <ul>
    <li><a href="signup.html" class="middle">Sign Up</button></a></li>
    <li><a href="trips.html">Trips</a></li>
    <li><a href="prices.html">Prices</a></li>
    <li><a href="contact.html">Contact Us</a></li>
    <li><a href="gallery.html">Gallery</a></li>
    <li></li>
  </ul>
</header>

<body style="background-color:#333" onload="startTime()">
  <button onclick="toTop()" id="topButton">Up</button>
  <div class="parallax"></div>
  <div class="parallax">
    <div class="typing">
      <div class="type-text" style="text-shadow:2px 2px 2px rgb(240, 109, 21)">Everyone deserves a vacation every once
        in a while.</div>
      <br>
      <br>
      <button class="button1">Learn more</button>
    </div>
  </div>
  </div>
  <br>
  <div class="column2">
    <div id="slideshow">
      <div class="slide-anim">
        <div class="slide"></div>
        <div class="slide"></div>
        <div class="slide"></div>
        <div class="slide"></div>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <p>We are a group of people experts in the art of traveling. Whether it's the culture, the food or just the nice
    places, we know everything there is to know about places around the Globe.</p>
  <p>Our job is to try to satisfy our customers' needs through the services we provide.</p>
  <p>After all, the world is so big, why stay in one place? </p>
  <p>Here's a list of some services we provide:</p>
  <i>
    <p>- Trip advising and trip planning</p>
    <p>- Affordable prices</p>
    <p>- Great internet tools designed with easy access to everything one might need when preparing for a holiday.</p>
  </i>
  </p>
  <br>
  <div class="parallax2"></div>
  <hr>
  <h1 style="text-align:center">Why choose us?</h1>
  <div class="column4">
    <h2>Help</h2>
    <p>We can help you plan the trip of your life, just ask us for help and we will get you on the right track!</p>
  </div>
  <div class="column4">
    <h2>Satisfaction</h2>
    <p>We guarantee the satisfaction of our customers.</p>
  </div>
  <div class="column4">
    <h2>Great Service</h2>
    <p>We hire the best trip advisors and make deals with the best traveling agencies to make sure you are comfortable.
    </p>
  </div>
  <div class="column4">
    <h2>Affordable Prices</h2>
    <p>We think vacations are a leisure everyone should be accustomed to. Don't worry if you're on a tight budget, nice
      things are always on the horizon!</p>
  </div>
  </div>
  <br>
  <div class="parallax2"></div>
  <hr>
  <h1>Still not convinced? Check out our <a href="trips.html">travel presentations</a> or <a href="contact.html">contact
      us</a>.</h1>
  </div>
  <hr>
  <iframe src="comments.html" class="commentsection"></iframe>
  <hr>
</body>
<footer>
  © All rights reserved.
</footer>

<script src="script.js"></script>
<script src="time.js"></script>

</html>