<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
<html>
<title>Prices</title>

<body>
    <ul>
        <li><a href="index.html">Home</a></li>
    </ul>
    <div class="parallax3"></div>
    <br>
    <hr>
    <h1 style="text-align:center;">Price Table</h1>
    <table width="100%">
        <tr class="pricetable">
            <th>Location</th>
            <th>Country</th>
            <th>Status</th>
            <th>Insurance</th>
            <th>Travel Host</th>
            <th>Price Range</th>
        </tr>
        <tr class="pricetable-oddline">
            <th>Frankfurt</th>
            <th>Germany</th>
            <th>Available</th>
            <th>Yes</th>
            <th>Unspecified</th>
            <th>$500-$2000</th>
        </tr>
        <tr class="pricetable-evenline">
            <th>Tokyo</th>
            <th>Japan</th>
            <th>Available</th>
            <th>Limited</th>
            <th>Unspecified</th>
            <th>$250-$1000</th>
        </tr>
        <tr class="pricetable-oddline">
            <th>Transilvania</th>
            <th>Romania</th>
            <th>Unavailable</th>
            <th>No</th>
            <th>TravelNow</th>
            <th>$200-$500</th>
        </tr>
        <tr class="pricetable-evenline">
            <th>Granada</th>
            <th>Spain</th>
            <th>Available</th>
            <th>Yes</th>
            <th>TravelNow</th>
            <th>$245-$780</th>
        </tr>
        <tr class="pricetable-oddline">
            <th>Tibet</th>
            <th>China</th>
            <th>Available</th>
            <th>Yes, But Expensive</th>
            <th>MundoTravel LLC</th>
            <th>$300-$2000</th>
        </tr>
        <tr class="pricetable-evenline">
            <th>Dubai</th>
            <th>UAE</th>
            <th>Unavailable</th>
            <th>No</th>
            <th>Unspecified</th>
            <th>$2000-$15000</th>
        </tr>
        <tr class="pricetable-oddline">
            <th>Grand Canyon</th>
            <th>United States</th>
            <th>Available</th>
            <th>No</th>
            <th>Unspecified</th>
            <th>$300-$600</th>
        </tr>
        <tr class="pricetable-oddline">
            <th>-</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr class="pricetable-evenline">
            <th>-</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr class="pricetable-oddline">
            <th>-</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr class="pricetable-evenline">
            <th>-</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr class="pricetable-oddline">
            <th>-</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr class="pricetable-evenline">
            <th>-</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr class="pricetable-oddline">
            <th>-</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr class="pricetable-evenline">
            <th>-</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr class="pricetable-oddline">
            <th>-</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr class="pricetable-evenline">
            <th>-</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr class="pricetable-oddline">
            <th>-</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr class="pricetable-evenline">
            <th>-</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr class="pricetable-oddline">
            <th>-</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr class="pricetable-evenline">
            <th>-</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr class="pricetable-oddline">
            <th>-</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr class="pricetable-evenline">
            <th>-</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr class="pricetable-oddline">
            <th>-</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr class="pricetable-evenline">
            <th>-</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr class="pricetable-oddline">
            <th>-</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr class="pricetable-evenline">
            <th>-</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr class="pricetable-oddline">
            <th>-</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr class="pricetable-evenline">
            <th>-</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr class="pricetable-oddline">
            <th>-</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr class="pricetable-evenline">
            <th>-</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </table>
    <br>
    <sub>Some prices may vary.</sub>
    <hr>
    <div class="parallax3"></div>
</body>
<script src="table_update.js"></script>

</html>