<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
<link rel="icon" href="/images/icons/thumbnail.png">
<html>
<title>Email Signup</title>

<body class="bg3">
    <ul>
        <li><a href="index.html">Home</a></li>
    </ul>
    <div class="column3" style="background-color:#333;text-align:center;">
        <h1>Sign up</h1>
        <form onsubmit="submitForm(event)">
            <label>Your name:</label>
            <br>
            <input type="name" id="namefield" style="border-radius:10px;" placeholder="John Doe" />
            <label>Email Address:</label>
            <br>
            <input type="text" id="emailfield" style="border-radius:10px;" placeholder="example@e-mail.com" />
            <br>
            <label>Password:</label>
            <br>
            <input type="password" id="passwordfield" style="border-radius:10px;" />
            <button type="submit">Sign Up</button>
            <br>
            <p id="displayInfo"></p>
            <p id="displayAccount"></p>
            <p id="displayCount"></p>
        </form>
        <br>
    </div>
</body>
<script src="signup.js"></script>

</html>