.background {
  height: 94vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.float-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: grid;
  padding: 4vw;
  z-index: 998;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.flex-col {
  display: flex;
  flex-direction: column;
  z-index: 999;
}