.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 5%;
  border: 1px solid #ccc;
}

.modal li {
  background-color: white;
}