.column2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    gap: auto;
  }
}

.column3 {
  width: 33%;
  float: right;
  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    gap: auto;
  }
}

.column4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    gap: auto;
  }
}